
<header>
  <div class="search">
    <input matInput matGoogleMapsAutocomplete (onAutocompleteSelected)="onAutocompleteSelected($event)"
      (onLocationSelected)="onLocationSelected($event)" class="input">
    <img (click)="getPostWithLocation()"class="searchpic" src="assets/images/search.png">
  </div>
</header>

<div class="fit"></div>

<div class="container" id="postsDiv">
  <ng-container *ngFor="let item of posts">
    <div class="cell">
      <app-post (commentNumberEmmiter)="setCommentNumber($event, item)" (pinNumberEmmiter)="setPinNumber($event, item)" (incrementPinNr)="incrementPinNr(item)" (incrementCommentNr)="incrementCommentNr(item)" (decrementPinNr)="decrementPinNr(item)" [id]='item._id'></app-post>
      <div id="containerId">
        <img class="post-image" src={{item.imgPath}} (click)="shared.toggleDiv(item._id)">
      </div>
      <h4>{{item.title}}</h4>
      <div class="inline">
        <img class="pin" src="assets/images/pin.png">
        <h4>{{item.pinNr}}  </h4>
        <img class="pin" src="assets/images/comment.png">
        <h4>{{item.commentNr}}</h4>
      </div>
    </div>
  </ng-container>
</div>

<app-navbar></app-navbar>
