.onTop {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
  display: none;
  overflow-y: scroll;
  overflow-x: hidden;
}

.addPic {
  position: absolute;
  background-color: #000000;
  height: 300px;
  width: 300px;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0.4;
  line-height: 270px;
  font-size: 1000%;
  border-radius: 10%;
}

.profile {
  width: 300px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10%;
  margin-top: 5%;
  text-align: center;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}


.centered {
  background-color: rgba(0, 0, 0, 0.279);
  border-radius: 10%;
  width: 160px;
  height: 160px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
}



header {
  position: fixed;
  background-image: linear-gradient(to bottom right,rgb(55, 0, 158), rgb(255, 180, 180));
  height: 60px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 70% 1fr;
  z-index: 9;
}

h2 {
  margin: auto;
  font-weight: bold;
}

h3 {
  padding-left: 10px;
  font-weight: bold;
}

button {
  background-color: rgba(252, 252, 252, 0);
  font-weight: bold;
  border: none;
}

.left {
  height: 30px;
}

.field {
  padding-top: 5px;
  padding-bottom: 20px;
  margin: 20px;
  border-bottom: 1px solid rgb(171, 171, 171);
}

.choose::-webkit-file-upload-button {
  color: white;
  background: #a00b0b;
  border: none;
  font-weight: 700;
  cursor: pointer;
  font-size: 10pt;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 300px;
  height: 300px;
  opacity: 0;
}

.input {
  background-color: #e2e2e2;
  border: none;
  width: 95%;
  border-radius: 15px;
  height: 40px;
  font-size: 20px;
  padding-left: 5%;
}

textarea {
  background-color: #e2e2e2;
  border: none;
  width: 95%;
  border-radius: 15px;
  height: 100px;
  padding-left: 5%;
  font-size: 20px;
}
