
<header>
  <div class="background">
    <img *ngIf="email == shared.getEmail(); else block" class="settings" (click)="shared.toggleDiv(settingsId)" src="assets/images/settings.png">
    <ng-template #block><div style="height: 50px;"></div></ng-template>
    <img class="profile" src={{img}}>
    <h2>{{surname}} {{name}}</h2>
    <a (click)="shared.toggleDiv('followers')">{{followers.length}} Followers |</a>
    <a (click)="shared.toggleDiv('followedBy')"> {{followedBy.length}} Following</a>
    <div *ngIf="email != shared.getEmail()" class="follow">
      <div (click)="action()">{{followButton}}</div>
    </div>
  </div>
  <div>
    <button class="left" class="selected" (click)="showPosts()" id="posts">Posts</button>
    <button (click)="showPins()" id="pins">Pins</button>
  </div>
</header>


<div class="fit"></div>
<div class="container" id="postsDiv">
  <ng-container *ngFor="let item of posts">
    <div class="cell">
      <app-post (commentNumberEmmiter)="setCommentNumber($event, item)" (pinNumberEmmiter)="setPinNumber($event, item)" (deletePinById)="deletePinById(item._id)" (addPostInPinList)="addPostInPinList(item)" (incrementPinNr)="incrementPinNr(item)" (incrementCommentNr)="incrementCommentNr(item)" (decrementPinNr)="decrementPinNr(item)" [id]='item._id'></app-post>
      <div id="containerId">
        <img class="post-image" src={{item.imgPath}} (click)="shared.toggleDiv(item._id)">
      </div>
      <h4>{{item.title}}</h4>
      <div class="inline">
        <img class="pin" src="assets/images/pin.png">
        <h4>{{item.pinNr}}  </h4>
        <img class="pin" src="assets/images/comment.png">
        <h4>{{item.commentNr}}</h4>
      </div>
    </div>
  </ng-container>
</div>

<div class="container" id="pinsDiv" style="display: none;">
  <ng-container *ngFor="let item of pins">
    <div class="cell">
      <app-post (commentNumberEmmiter)="setCommentNumber($event, item)" (pinNumberEmmiter)="setPinNumber($event, item)" [id]='item._id'></app-post>
      <div id="containerId">
        <img class="post-image" src={{item.imgPath}} (click)="shared.toggleDiv(item.postId)">
      </div>
      <h4>{{item.title}}</h4>
      <div class="inline">
        <img class="pin" src="assets/images/pin.png">
        <h4>{{item.pinNr}}  </h4>
        <img class="pin" src="assets/images/comment.png">
        <h4>{{item.commentNr}}</h4>
      </div>
    </div>
  </ng-container>
</div>


<button *ngIf="email == shared.getEmail()" class="footer-button" (click)="shared.toggleDiv(postId)">
  <img src="assets/images/plus.png"  class="myimage"/>
</button>

<app-follow [users]="followers" [id]="'followers'"></app-follow>
<app-follow [users]="followedBy" [id]="'followedBy'"></app-follow>
<app-settings></app-settings>
<app-add-post></app-add-post>

<div style="height: 13vh;"></div>

<app-navbar></app-navbar>
