<div class="onTop" id="{{'pins-'+id}}">
  <header>
    <button (click)="shared.toggleDiv('pins-'+id)">
      <img class="left" src="../assets/images/left_white.png">
    </button>
  </header>

  <div class="field">
    <div class="left_right">
      <div>
        <img src="" class="userImg">
        <h3 class="name">Denisa Mirza</h3>
      </div>
      <div>
        <button class="follow">Unfollow</button>
      </div>
    </div>
  </div>

  <div class="field">
    <div class="left_right">
      <div>
        <img src="" class="userImg">
        <h3 class="name">Denisa Mirza</h3>
      </div>
      <div>
        <button class="follow">Follow</button>
      </div>
    </div>
  </div>

</div>

