<div class="onTop" id="{{'pins-'+id}}">
  <header>
    <button (click)="shared.toggleDiv('pins-'+id)">
      <img class="left" src="../assets/images/left.png">
    </button>
    <h2>Pins</h2>
  </header>

  <ng-container *ngFor="let item of pins">

    <div class="field">
      <div class="left_right">
        <div (click)="shared.toggleDiv(item.email)">
          <img src="{{item.userImg}}" class="userImg">
          <h3 class="name">{{item.name}} {{item.surname}}</h3>
        </div>
      </div>
    </div>

  </ng-container>
</div>

