<div class="onTop" id={{incidentId}}>
  <header>
    <button (click)="shared.toggleDiv(incidentId)">
      <img class="left" src="../assets/images/left_white.png">
    </button>
    <h2>Incidents</h2>
    <button (click)="sendData()">Add</button>
  </header>

  <br><br><br><br>

  <div class="container" id="postsDiv">
    <div class="cell">
      <img class="incident" src="../assets/images/police.png">
      <h3>Police</h3>
    </div>
    <div class="cell">
      <img class="incident" src="../assets/images/obstacle.png">
      <h3>Obstacle</h3>
    </div>
    <div class="cell">
      <img class="incident" src="../assets/images/crash.png">
      <h3>Car crash</h3>
    </div>
    <div class="cell">
      <img class="incident" src="../assets/images/traffic.png">
      <h3>Traffic</h3>
    </div>
    <div class="cell">
      <img class="incident" src="../assets/images/groapa.png">
      <h3>Pothole</h3>
    </div>
    <div class="cell">
      <img class="incident" src="../assets/images/chat.png">
      <h3>Others</h3>
    </div>
  </div>
</div>
