<div id={{settingsId}} class="onTop" [formGroup]="form">
  <header>
    <button (click)="shared.toggleDiv(settingsId)">
      <img class="left" src="../assets/images/left.png">
    </button>
    <h2>Profile settings</h2>
    <button (click)="update()">Save</button>
  </header>

  <div class="field">
    <h3>Profile picture</h3>
    <div class="container">
      <img class="profile" src="{{userImg}}">
      <input type="file" class="choose" (change)="updateFile($event)">
    </div>
  </div>

  <div class="field">
    <h3>Name</h3>
    <input formControlName="name" class="input">
  </div>

  <div class="field">
    <h3>Surname</h3>
    <input formControlName="surname" class="input">
  </div>

  <div class="field">
    <h3>New password</h3>
    <input formControlName="password" class="input" type="password" >
  </div>

  <div class="field">
    <h3>Old password</h3>
    <input formControlName="oldPassword" class="input" type="password">
  </div>

  <div class="field">
    <h3>Log out</h3>
    <a routerLink="/login"><img (click)="clearLocalStorage()" class="logout" src="../assets/images/logout.png"></a>
  </div>

  <div class="fit"></div>


</div>

