<ng-container *ngFor="let item of notifs">

</ng-container>


  <div class="next" class="unseen">
    <img src="../assets/images/user2.png" class="userImg" style="margin-top: -5px;">
    <div style="margin-left: -22px; margin-top: 20px;">
      <h5 style="font-weight: bold;">Madalin Bivolan</h5>
      <h5> commented on your post</h5>
    </div>
    <img src="../assets/images/ankara.jpg" class="postImg">
  </div>
  <div class="next">
    <img src="../assets/images/user2.png" class="userImg" style="margin-top: -5px;">
    <div style="margin-left: -22px; margin-top: 20px;">
      <h5 style="font-weight: bold;">Madalin Bivolan</h5>
      <h5> pinned your post</h5>
    </div>
    <img src="../assets/images/ankara.jpg" class="postImg">
  </div>

  <div class="next">
    <img src="../assets/images/user2.png" class="userImg" style="margin-top: -20px;">
    <div style="margin-left: -25px; margin-top: 6px;">
      <h5 style="font-weight: bold;">Madalin Bivolan</h5>
      <h5> followed you</h5>
    </div>
  </div>
<app-navbar></app-navbar>
