<div class="onTop" id="{{id}}">
  <header>
    <button (click)="shared.toggleDiv(id)">
      <img class="left" src="../assets/images/left_white.png">
    </button>
  </header>

  <div class="next">
    <div class="comment">
      <div><img src="" class="userImg"></div>
      <div>
        <h6>Denisa Mirza</h6>
        <textarea readonly>sdfdsdddddddddddddddddccccccccccccccccccdddddddddddddddddddddddddddscfwdvwverewevdrddds</textarea>
      </div>
    </div>
  </div>

  <div class="next">
    <div class="comment">
      <div><img src="" class="userImg"></div>
      <div>
        <h6>DenisaMirza</h6>
        <textarea readonly>sdfdsdddddddddddddddddccccccccccccccccccdddddddddddddddddddddddddddscfwdvwverewevdrddds</textarea>
      </div>
    </div>
  </div>

  <footer>
    <div class="comment">
      <div><img src="" class="userImg"></div>
      <div>
        <textarea class="new-comment" placeholder="Write your comment..."></textarea>
      </div>
    </div>
  </footer>

</div>
